<app-menu></app-menu>
<router-outlet></router-outlet>
<!--<app-suma></app-suma>
  <app-alumno-reactive></app-alumno-reactive>
  <app-iric></app-iric>
<app-operasbas></app-operasbas>

<app-distancia></app-distancia>

<div class="container">
  <p>Hola Mundo</p>
  <div>
    <h1>IDGS</h1>
  </div>
  <div>
    {{title}}
  </div>
  <div>
    La suma de 2+2 es: {{2+2}}
  </div>
  <div>
    El doble de 3 es: {{duplicaN(3)}}
  </div>
  <div>
    <b>Matricula: </b>{{alumno.matricula}}
  </div>
  <div>
    <b>Nombre: </b>{{alumno.nombre | uppercase}}
  </div>
  <div>
    <b>Apellido Parterno: </b>{{alumno.aparterno | lowercase}}
  </div>
  <div>
    <b>Inscrito: </b>{{alumno.inscrito | currency}}
  </div>
  <div>
    <b>Fecha de Nacimiento: </b>{{alumno.fechaNacimiento | date:"dd-MM-yy"}}
  </div>
</div>
<div>
  <hr>
  <app-grupo></app-grupo>
</div>
<div>
  <hr>
  <app-idgs902></app-idgs902>
  <app-iric></app-iric>
  <app-menu></app-menu>
</div>-->